@keyframes beat {
    from {transform: scale(1);}
    50% {transform: scale(1.2);}
    to {transform: scale(1);}
};

@keyframes steps {
    from {transform: translateX(-50%);}
    30% {transform: translateX(0%);}
    70% {transform: translateX(50%);}
    to {transform: translateX(-50%);}
};

@keyframes shake {
    from {transform: rotate(0deg) scale(1);}
    25% {transform: rotate(-20deg) scale(0.8);}
    50% {transform: rotate(0deg) scale(1);}
    75% {transform: rotate(20deg) scale(0.8);}
    to {transform: rotate(0deg) scale(1);}
};

