@import 'base/mixins';
@import 'base/variables';
@import 'blocks/selection';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/titles';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/pulsmonitors';
@import 'blocks/catalog-item';
@import 'blocks/feedback';
@import 'blocks/footer';
@import 'blocks/overlay';
@import 'blocks/modal';

.container {
	max-width: 940px;
	margin: 0 auto;
}
