@import 'base/mixins';
@import 'base/variables';
@import 'blocks/selection';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/titles';
@import 'blocks/consultation';
@import 'blocks/forms';


.container {
	max-width: 940px;
	margin: 0 auto;
}