.button {
    display: block;
    background-color: $main_color;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    &--size--m {
        width: 153px;
        height: 32px;
        font-size: 12px;
        line-height: 19px;
    }
    &--size--lg {
        width: 300px;
        height: 50px;
        font-size: 16px;
        line-height: 25px;
    }
}
.header__button {
    margin-top: 4px;
    margin-left: auto;
}
.selection__button {
    margin-top: 69px;
}
.form__button {
    margin-top: 17px;
}