.form {
    display: flex;
    flex-direction: column;
    max-width: 303px;
    &__input {
        height: 54px;
        padding: 0 20px;
        border-radius: 5px;
        background-color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        border: 1px solid #4B4B4B; 
    }
    &__input:nth-child(n+2) {
        margin-top: 13px;
    }
    input.error {
        border: 2px solid red;
    }
    .error {
        margin-top: 10px;
        color: red;
        text-align: center;
        font-size: 12px;
    }
}

.consultation__form {
    margin-top: 36px;
}

.modal__form {
    margin: 0 auto;
    margin-top: 26px;
}