.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo-link {
        display: block;
        width: 251px;
    }
    &__img {
        width: 100%;
    }
    &__descr {
        margin: 8px 89px 0 0;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
        color: #ffffff;
    }
    &__brands {
        display: block;
        margin-right: auto;
        margin-top: 7px;
        font-weight: 500;
        font-size: 18px;
        line-height: 29px;
        text-align: center;
        color: #ffffff;
    }
    &__phone-link {
        display: block;
        margin-top: 6px;
        text-decoration: none;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}