.selection {
    min-height: 650px;
    padding: 16px 0 93px 0;
    background: url('../img/woman_bg.jpg') center (center/cover) no-repeat;
    &__wrapper {
        margin-top: 86px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__header {
        margin: 0;
        font-size: 42px;
        line-height: 42px;
        font-weight: 700;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__subheader {
        margin: 0;
        margin-top: 17px;
        font-size: 24px;
        line-height: 24px;
        font-weight: 500;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__icons {
        padding-right: 17px;
        margin-top: 65px;
        width: 445px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        max-width: 108px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__descr {
        margin-top: 21px;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
    }
    &__catalog-link {
        display: block;
        margin-top: 15px;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        text-align: right;
        text-decoration: none;
        color: #FFFFFF;
    }
}